<div>
  <h1>​{{ title }}​</h1>
  <div>
    <p>​Username: {{ user?.username }}​</p>
  </div>
  <form (ngSubmit)="saveProfile()">
    <div>
      <label>​First Name:​</label>
      <input
        type="text"
        [(ngModel)]="user.firstName"
        name="firstName"
        [disabled]="isLoading"
        (input)="clearError()"
      />
    </div>
    <div>
      <label>Last Name:​</label>
      <input
        type="text"
        [(ngModel)]="user.lastName"
        name="lastName"
        [disabled]="isLoading"
        (input)="clearError()"
      />
    </div>
    <button type="submit" [disabled]="isLoading">Save</button>
  </form>
  <p *ngIf="isLoading">​Loading profile...​</p>
  <p *ngIf="isSaving">​Saving profile...​</p>
  <p *ngIf="error">​Error! {{ error }}</p>
</div>
